@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@200&family=Pattaya&display=swap');

html,body
{
    padding: 0;
    margin: 0;
    color: #285A84;
    background-color: #f7f7f7;
    overflow-x:hidden ;
    
}

header
{
    height: 50vh;    
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.137)),url('../images/headerImg.png');
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
   
    clip-path: polygon(0 0 ,100% 0 ,100% 40vh ,0 100%);
    text-align: center;
}
#logo
{
  text-align: left;
  
  
  width: 40%;
}
 .logo img
{
    width: 8rem;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
}

header #navbarContainer li
{
    display: inline-block;
    margin: .0rem .5rem;
    font-size: .9rem;
    /* background-color: #fff;
    padding: .8rem;
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; */
    
}
#navbarContainer
{
  display: flex;
}
header #navbarContainer ul
{
  text-align: right;
  width: 60%;
  padding-top: 18px;
}
.para-title
{
    display: block;
    font-size: 4rem;
    font-weight: 1000;
    letter-spacing: 5rem;
    text-transform: uppercase;
    margin-left: 7%;
}
.header-para
{
    color:#fff ;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: justify;
    margin-left: 33%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 10px;    
}

.space
{
    margin-right: 100px;
}
#navbarContainer li a
{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  right: 50px;
  font-size: .8rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
  font-weight: bolder;
  font-family: 'Nunito Sans', sans-serif;
  color: #285A84;
}
#navbarContainer li a:hover
{
  background-color:rgba(40,180,133,0.8) ;
    animation: moveInBottom 0.5s ease-in-out infinite both;
    color: #fff;
    /* padding: 10px 40px; */
}



@keyframes moveInBottom {
    0% {
        box-shadow: 0 0 20px 0px #fff;
                
      }
      50% {
        
        box-shadow: 0 0 10px 0px #fff;
      }
      100% {
        
        box-shadow: 0 0 20px 0px #fff;
      }
    
}
.header-btn button:active
{
    animation: none;
    border: 1px solid #fff;
    padding: 10px 15px;
}
/* ---------------tab1-------------------------------------------- */
.tab1
{
  padding: 20px;
}
.img1 {
  width: 3%;
  padding-left: 11px;
  padding-top: 20px;
  margin-right: 10px;
}

.img2 {
  width: 3%;
  padding-left: 15px;
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.img3 {
  width: 3%;
  padding-left: 25px;
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 23px;
}

 .para1 {
  font-family: 'Francois One', sans-serif;
  color: #285A84;
  position: relative;
  top: -17px;
 }

/* ---------------tab2-------------------------------------------- */

.tab2{
  margin-top: -53px;

}
.img4 {
  float: left;
    width: 23%;
    padding-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
    border-radius: 20ch;
    
  /* display: block; */
}
.img5,.img4,.img6
{
  transition: border-radius .5s ease-in-out ;
}
.img4:hover,.img5:hover,.img6:hover
{
  border-radius: 0ch;
  
}
.para2 {
  width: 70%;
  text-align: justify;
  font-size: 15px;
  font-family: 'Francois One', sans-serif;
  padding-left: 374px;
  padding-top: 3px;
  padding-bottom: 100px;

  /* display: inline; */
  /* position: relative; */
  /* top: -17px; */
 }

 .img5 {
  float: right;
    width: 24%;
    padding-right: 50px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 20ch;
  /* display: block; */
}

.para3 {
  width: 70%;
  text-align: justify;
  font-size: 15px;
  font-family: 'Francois One', sans-serif;
  padding-right: 374px;
  padding-left: 100px;
  padding-top: 7px;
  padding-bottom: 100px;

}

  .para4 {
    width: 70%;
    text-align: justify;
    font-size: 15px;
    font-family: 'Francois One', sans-serif;
    padding-left: 374px;
    padding-right: 374px;
    padding-top: 0px;
    padding-bottom: 100px;
  
    /* display: inline; */
    /* position: relative; */
    /* top: -17px; */
   }

   .img6 {
      float: right;
      width: 18%;
      padding-right: 50px;
      padding-top: 20px;
      margin-left: 50px;
      border-radius: 20ch;
    /* display: block; */
  }
 /* --------------------------------footer----------------------- */
  
 footer
 {
     height: 35vh;    
     background-size: cover;
     background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8));
     background-position: top;
     position: relative;
     display: block;
     clip-path:  polygon(0% 50% ,100% 0 ,100% 100% ,0 100%);
     overflow: hidden;
     margin-top: -120px;
     z-index: 80;
    text-align: center;
     color:#4b4c4d;
     
 }
 .footer-basic #footer-logo
 {
     margin-top: 3rem;
     font-size: 30px;
     font-family: 'Pattaya', sans-serif;
     color: #fff;
     
 }
 .center
 {
   text-align: center;
   margin-left: 38rem;
   
 }
   
   .footer-basic ul {
     padding:0;
     list-style:none;
     text-align:center;
     font-size:1.2rem;
     line-height:1.6;
     margin-bottom:0;
   }
   
   .footer-basic li {
     padding:0 10px;
     display: inline-block;
   }
   
   .footer-basic ul a {
     color:#fff;
     text-decoration:none;
     opacity:0.8;
     
   }
   .footer-basic li:hover
   {
     transform: scale(1.2);
   }
   .footer-basic ul a:hover {
     opacity:1;
     
   }
   
   .footer-basic .social {
     text-align:center;
     padding-bottom:0px;
     margin-top: -1rem;
     display: flex;
   }
   
   .footer-basic .social  a {
     font-size:24px;
     width:40px;
     height:40px;
     line-height:40px;
     display:inline-block;
     text-align:center;
     border-radius:50%;
     border:1px solid #ccc;
     margin:0 8px;
     color:#fff;
     opacity:0.75;
   }
   
   .footer-basic .social  a:hover {
     opacity:0.9;
     transform: scale(1.4);
   }
   
   .footer-basic .copyright {
    margin-top: -38px;
    text-align:center;
    font-size:13px;
    color:rgb(231, 231, 231);
    margin-bottom:0;
    font-weight: bolder;
    position: absolute;
    margin-left: -60px;
 
   }
   #footerQuickLink
   {
     
     width: 359px;
     height: 143px;
     float: right;
     margin-right: 9px;
     margin-top: -194px;
     font-family: 'Nunito Sans', sans-serif;
     font-weight: 700;
     
   }
   #footerQuickLink ul li
   {
     display: block;
   }
   #footerQuickLink a
   {
     font-size: .8rem;
   }
   #footerQuickLink h4
   {
     color: white;
     font-size: 1.2rem;
     margin-bottom: -17px;
     margin-top: 57px;
     
   }
 
   .myButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 13px 38px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .myButton:hover {
    background-color:#5cbf2a;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
  