@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@200&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
html,body
{
    padding: 0;
    margin: 0;
    color: rgb(107, 107, 107);
    background-color: #f7f7f7;
    overflow-x:hidden ;
    
}

header
{
    height: 57vh;    
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.137)),url('../images/headerImg.png');
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
    padding: 20px;
    clip-path: polygon(0 0 ,100% 0 ,100% 45vh ,0 100%);
    text-align: center;
}
#logo
{
  text-align: left;
  width: 40%;
}
 .logo img
{
    width: 8rem;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    
}

header #navbarContainer li
{
    display: inline-block;
    margin: .0rem .5rem;
    font-size: .9rem;
    /* background-color: #fff;
    padding: .8rem;
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; */
    
}
#navbarContainer
{
  display: flex;
}
header #navbarContainer ul
{
  text-align: right;
  width: 60%;
  padding-top: 18px;
}
.para-title
{
    display: block;
    font-size: 4rem;
    font-weight:1000;
    letter-spacing: 6rem;
    text-transform: uppercase;
}
.header-para
{
    color:#fff ;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: justify;
    margin-left:28%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;

    
    
}
.space
{
  /* margin-right: 100px; */
  margin-left: 80px;
}
#navbarContainer li a
{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  right: 50px;
  font-size: .8rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
  font-weight: bolder;
  font-family: 'Nunito Sans', sans-serif;
  color: #285A84;
}
#navbarContainer li a:hover
{
  background-color:rgba(40,180,133,0.8) ;
    animation: moveInBottom 0.5s ease-in-out infinite both;
    color: #fff;
    /* padding: 10px 40px; */
}

.header-btn button
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    right: 50px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #777;
    margin-top: 2rem;
    font-family: 'Nunito Sans', sans-serif
    
}
.header-btn button:hover
{
    
    background-color:rgba(40,180,133,0.8) ;
    animation: moveInBottom 0.5s ease-in-out infinite both;
    color: #fff;
    /* padding: 10px 40px; */

}
@keyframes moveInBottom {
    0% {
        box-shadow: 0 0 20px 0px #fff;
                
      }
      50% {
        
        box-shadow: 0 0 10px 0px #fff;
      }
      100% {
        
        box-shadow: 0 0 20px 0px #fff;
      }
    
}
.header-btn button:active
{
    animation: none;
    border: 1px solid #fff;
    padding: 10px 15px;
}
#overview
{
    background-color: #f7f7f7;
    padding-top: 15rem;
    margin-top: -44vh;
    
    

}
#overcontainer
{
    display: flex;
    margin-top: -63px;
}
#heading
{
    margin-bottom: 1rem;
    text-align: center;
    padding: 10px;
    
}
.heading-h2
{
    font-size: 1.8rem;
    
    font-weight: 700;
    display: inline-block;
   color: #0e4105;
    
    letter-spacing: .2rem;
    font-family: 'Nunito Sans', sans-serif;

}
#overviewContant
{
    width: 50%;
}
.h3
{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 1rem;
    color: #285A84;

}
.main-para
{
    margin-bottom: -1rem;
    box-sizing: inherit;
    padding: 1rem;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    color: #285A84;
    font-weight: bolder;
    letter-spacing: .5px;
    font-size: 1.1rem;
    margin-top: -40px;

}
#imgContainer
{
    width: 50%;
    margin-top: -22px;
    
}
#imgContainer .main-image
{
    width: 15rem;
    height: 10rem;
    position: absolute;
    margin-left: 110px;
    margin-top: 90px;
}
#imgContainer img:nth-child(1)
{
    transform: translate(5rem,1rem);
    
}
#imgContainer img:nth-child(2)
{
    transform: translate(15rem,5rem);
}
#imgContainer img:nth-child(3)
{
    transform: translate(8rem,9rem);
}

#imgContainer .main-image:hover
{
    z-index: 50;
    animation: image-animi .5s ease-out both;
}

@keyframes image-animi
{
    0% {
        width: 15rem;
        height: 10rem;
      }
      100% {
        width: 20rem;
        height: 15rem;
        /* outline-style: solid;
        outline-offset: 2;
        outline-width: 10px;
        outline-color: rgb(15, 126, 11);
        padding: 10px; */
      }
}

#slider-section
{
    
    height: 95vh;    
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
    clip-path: polygon(0 15% ,100% 0 ,100% 80% ,0 99%);
    overflow: hidden;
    z-index: 90;
    margin-top: 130px;
}

#imageShow
{
    background-image: url('https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
   
   
}
@keyframes kenburns-top {
    0% {
      opacity: 10%;  
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.25) translateY(-15px);
      transform-origin: top;
    }
  }

  
 /* --------------------------------footer----------------------- */
  
footer
{
    height: 35vh;    
    background-size: cover;
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8));
    background-position: top;
    position: relative;
    display: block;
    clip-path:  polygon(0% 50% ,100% 0 ,100% 100% ,0 100%);
    overflow: hidden;
    margin-top: -120px;
    z-index: 80;
   text-align: center;
    color:#4b4c4d;
    
}
.footer-basic #footer-logo
{
    margin-top: 3rem;
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    
}
.center
{
  text-align: center;
  margin-left: 38rem;
  
}
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:1.2rem;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
    display: inline-block;
  }
  
  .footer-basic ul a {
    color:#fff;
    text-decoration:none;
    opacity:0.8;
    
  }
  .footer-basic li:hover
  {
    transform: scale(1.2);
  }
  .footer-basic ul a:hover {
    opacity:1;
    
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:0px;
    margin-top: -1rem;
    display: flex;
  }
  
  .footer-basic .social  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-basic .social  a:hover {
    opacity:0.9;
    transform: scale(1.4);
  }
  
  .footer-basic .copyright {
    margin-top: -38px;
    text-align:center;
    font-size:13px;
    color:rgb(231, 231, 231);
    margin-bottom:0;
    font-weight: bolder;
    position: absolute;
    margin-left: -60px;

  }
  #footerQuickLink
  {
    
    width: 359px;
    height: 143px;
    float: right;
    margin-right: 9px;
    margin-top: -194px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    
  }
  #footerQuickLink ul li
  {
    display: block;
  }
  #footerQuickLink a
  {
    font-size: .8rem;
  }
  #footerQuickLink h4
  {
    color: white;
    font-size: 1.2rem;
    margin-bottom: -17px;
    margin-top: 57px;
    
  }

  #formContainer
  {
      display: none;
      position: fixed; 
      z-index: 1; 
     
      left: 810px;
      top: 388px;
    
      overflow: auto; 
      background-color: rgba(0, 0, 0, 0);
      
     
        z-index: 99;
        
  }

  #close 
{
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: red;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  width: 1rem;
  height: 2rem;
  margin-right: 69px;
}

video
{
  width: 60%;
  height: 60%;
  margin-left:20%;
  border-radius: 20px;
}